body{
  text-align: center;
  background-color: #fff;
  font-size: 25px;
}

h2{
  color: #0092ff;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 30px
}
input{
  height: 30px;
  outline: none;
}
